<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mouse_Bounder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mouse_Bounder.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoundWhenFocused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberPreviousProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoBindToRememberedProcesses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="BoundType" serializeAs="String">
                <value>2</value>
            </setting>
        </Mouse_Bounder.Settings>
    </userSettings>
</configuration>